<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="webjars/layui/2.4.5/css/layui.css">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-image: url('img/bg.png')">
      <div class="layui-logo"></div>
      <!-- 头部区域（可配合layui已有的水平导航） -->

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <i class="layui-icon" style="font-size: 15px">&#xe770;康杰牛逼</i>
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">退出</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-cyan">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test">
          <li class="layui-nav-item layui-this"><a href="">图书借阅</a></li>
          <li class="layui-nav-item"><a href="">借阅历史</a></li>
        </ul>
      </div>
    </div>

    <div class="layui-body">

      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label for="name">图书名称:</label>
                  <input type="text" class="form-control" style="width: 250px" placeholder="请输入图书名称">
                </div>
                <button type="submit" class="btn btn-primary">查询</button>
              </form>
            </div>
          </div>
        </div>


        <!--<table class="layui-table" lay-data="{width: 892, height:330, url:'/getAllBook', page:true, id:'idTest'}" lay-filter="demo">
          <thead>
          <tr>
            <th lay-data="{field:'bookName', width:80, sort: true, fixed: true}">图书名字</th>
            <th lay-data="{field:'publish', width:80}">出版社</th>
            <th lay-data="{field:'author', width:80}">作者</th>
            <th lay-data="{field:'residue', width:80}">库存</th>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
          </tr>
          </thead>
        </table>-->
        <table class="layui-table" lay-data="{width: 892, height:330, url:'/getHistory', page:true, id:'idTest'}" lay-filter="demo">
          <thead>
          <tr>
            <th lay-data="{field:'bookName', width:80, sort: true, fixed: true}">图书名字</th>
            <th lay-data="{field:'publish', width:80}">出版社</th>
            <th lay-data="{field:'author', width:80}">作者</th>
            <th lay-data="{field:'userId', width:80}">借阅人学号</th>
            <th lay-data="{field:'username', width:80}">借阅人姓名</th>
            <th lay-data="{field:'borrowTime', width:80}">借阅时间</th>
            <th lay-data="{field:'backTime', width:80}">归还时间</th>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
          </tr>
          </thead>
        </table>

      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">编辑图书</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">图书名称</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">出版社</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastname" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">作者</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastname" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">库存</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastname" placeholder="">
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">保存</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      <center>Copyright © 2016-2019 - 厦门理工学院版权所有</center>
    </div>
  </div>
  <script src="webjars/layui/2.4.5/layui.all.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
  <script>
      layui.use('laypage', function(){
        var laypage = layui.laypage;
        
        //执行一个laypage实例
        laypage.render({
          elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
          ,count: 50 //数据总数，从服务端得到
        });
      });
      </script>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>


  <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
  <script>
    layui.use('table', function(){
      var table = layui.table;
      //监听表格复选框选择
      table.on('checkbox(demo)', function(obj){
        console.log(obj)
      });
      //监听工具条
      table.on('tool(demo)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
          layer.msg('ID：'+ data.id + ' 的查看操作');
        } else if(obj.event === 'del'){
          $.ajax({
              url: "/delete",
              data: JSON.stringify(data),
              dataType:"json",
              content: "application/json;utf-8",
              type: "post",
              success: function (result) {
                layer.msg('删除成功');
              }

          });
          layer.confirm('真的删除行么', function(index){
            obj.del();
            layer.close(index);
          });
        } else if(obj.event === 'edit'){
          layer.alert('编辑行：<br>'+ JSON.stringify(data))
        }
      });

      var $ = layui.$, active = {
        getCheckData: function(){ //获取选中数据
          var checkStatus = table.checkStatus('idTest')
                  ,data = checkStatus.data;
          layer.alert(JSON.stringify(data));
        }
        ,getCheckLength: function(){ //获取选中数目
          var checkStatus = table.checkStatus('idTest')
                  ,data = checkStatus.data;
          layer.msg('选中了：'+ data.length + ' 个');
        }
        ,isAll: function(){ //验证是否全选
          var checkStatus = table.checkStatus('idTest');
          layer.msg(checkStatus.isAll ? '全选': '未全选')
        }
      };

      $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    });
  </script>
</body>

</html>