service:
  port: 8080

spring:
  datasource:
    name: hoteldata
    url: jdbc:mysql://139.224.115.237:3306/book?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: zhangC1997
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

  thymeleaf:
    cache: false


  freemarker:
    template-loader-path: classpath:/templates
    cache: false
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    expose-request-attributes: false
    expose-session-attributes: false
    request-context-attribute: request
    suffix: .ftl

devtools:
  restart:

  enabled: true

  additional-paths: resources/**,static/**,templates/**



mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.xmut.zhihu.entity
