<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <!-- -------------------JS------------------------- -->
    <script type="text/javascript" src="/webjars/layui/2.4.5/layui.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="/webjars/layui/2.4.5/lay/modules/layer.js"></script>

    <!-- -------------------CSS------------------------- -->
    <link rel="stylesheet" href="/webjars/layui/2.4.5/css/layui.css">
    <link rel="stylesheet" href="/webjars/layui/2.4.5/css/modules/layer/default/layer.css">
</head>
<body>
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-bg-cyan layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">查看所有用户</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" lay-filter="test1">查看所有</a></dd>
                <dd><a href="javascript:;">逐个查看</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">添加用户</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">逐个添加</a></dd>
                <dd><a href="javascript:;">添加管理员</a></dd>
                <dd><a href="">跳转链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">修改用户</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改权限</a></dd>
                <dd><a href="javascript:;">封号</a></dd>
                <dd><a href="javascript:;">修改用户信息</a></dd>
                <dd><a href="">跳转链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">删除用户</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">删除管理员</a></dd>
                <dd><a href="javascript:;">删除用户</a></dd>
                <dd><a href="">跳转链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">其他用户管理</a></li>
        <li class="layui-nav-item"><a href="">用户查询...</a></li>
    </ul>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>