<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup/signup.css">

    <script src="webjars/jquery/3.4.1/dist/jquery.js"></script>
    <script>
        function onValidForm(){
            var username = $("#username").val();
            var password = $("#password").val();
            var type = $("#type").val();

            // alert(username + "," + password + "," + type);


            if(username == ""){
                alert("用户名不为空！");
            }
            if(password == ""){
                alert("密码不能为空！");
            }else{
                $.ajax({
                    type:"post",
                    url:"handleSignup",
                    data:{
                        username:username,
                        password:password,
                        type:type
                    },
                    success:function(result){
                        $("#username").val("");
                        $("#password").val("");
                        if(result == "signup"){
                            alert("登陆失败！");
                        }else{
                            alert("登陆成功！");
                        }
                        window.location = result;
                    }
                });
            }

        }

    </script>
</head>
<!--<body>-->
<!--    <div class="SignFlowHomepage">-->
<!--        <div class ="form">-->
<!--            <form method = "POST">-->
<!--                <div>-->
<!--                    <input type="text"  id = "username" placeholder="用户名"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="password" placeholder="密码" id = "password"/>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <select name="cars" id = "type">-->
<!--                        <option value="student" >我是学生</option>-->
<!--                        <option value="admin" >我是管理员</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <button type="button" onclick="onValidForm()" >登陆</button>-->
<!--            </form>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<body>
<div class="main">
    <div class="div1 div11">
        <div class="div2 div22">
            <div class="div3 div33">
                <form class="form form1 form11" method="POST">
                    <div class="form1-input form1-input1">
                        <i class="ico-user"></i>
                        <input type="text" placeholder="用户名" id = "username"/>
                    </div>
                    <div class="form1-input form1-input1">
                        <i class="ico-pwd"></i>
                        <input type="password" placeholder="密码" id = "password"/>
                    </div>
                    <div class="form1-select form1-select1">
                        <select name="cars" id = "type">
                            <option value="student" >我是学生</option>
                            <option value="admin" >我是管理员</option>
                        </select>
                    </div>
                    <div class="form1-login form1-login1">
                        <button type="button" onclick="onValidForm()">
                            <span class= "white-font" >登&nbsp;陆</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>