<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <!-- -------------------JS------------------------- -->
    <script type="text/javascript" src="webjars/layui/2.4.5/layui.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="webjars/layui/2.4.5/lay/modules/layer.js"></script>

    <!-- -------------------CSS------------------------- -->
    <link rel="stylesheet" href="webjars/layui/2.4.5/css/layui.css">
    <link rel="stylesheet" href="webjars/layui/2.4.5/css/modules/layer/default/layer.css">

    <script type="text/javascript"></script>
    <script type="text/javascript">
        function getInfo() {
            $.ajax({
                type: "post",
                url: "getAdminUsername.do",
                data: undefined,
                success: function (result) {
                    $("#adminUsername").html(result);
                }
            });
        }
    </script>
</head>
<body onload="getInfo()" class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-blue">
        <div class="layui-logo layui-colorpicker-basis-black">类知乎后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">用户管理</a></li>
            <li class="layui-nav-item"><a href="">消息管理</a></li>
            <li class="layui-nav-item"><a href="">问答管理</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">文件管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span id="adminUsername">贤心</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logOut.do">退出登录</a></li>
        </ul>
    </div>

    <!-- 左侧导航栏 -->
    <div class="layui-side layui-bg-cyan">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-bg-cyan layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">查看所有用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" lay-filter="test1">查看所有</a></dd>
                        <dd><a href="javascript:;">逐个查看</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">添加用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">逐个添加</a></dd>
                        <dd><a href="javascript:;">添加管理员</a></dd>
                        <dd><a href="">跳转链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">修改用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改权限</a></dd>
                        <dd><a href="javascript:;">封号</a></dd>
                        <dd><a href="javascript:;">修改用户信息</a></dd>
                        <dd><a href="">跳转链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">删除用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">删除管理员</a></dd>
                        <dd><a href="javascript:;">删除用户</a></dd>
                        <dd><a href="">跳转链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">其他用户管理</a></li>
                <li class="layui-nav-item"><a href="">用户查询...</a></li>
            </ul>
        </div>
    </div>

    <!-- ---------内容主体区域------------- -->
    <div class="layui-body">

        <div class="layui-layer-border">
            <h4 id="promptBox">查看所有用户>查看所有</h4>
        </div>
        <table class="layui-table" lay-data="{ height:500, url:'/selectBorrowBook.do', page:true, id:'idTest'}" lay-filter="demo">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                <th lay-data="{field:'bookName', width:80, sort: true, fixed: true}">书名</th>
                <th lay-data="{field:'publish', width:180}">出版社</th>
                <th lay-data="{field:'author', width:180}">作者</th>
                <th lay-data="{field:'borrowTime', width:80, sort: true}">借阅时间</th>
                <th lay-data="{field:'backTime', width:250}">归还时间</th>
                <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}"></th>
            </tr>
            </thead>
        </table>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">封号</a>
            <a class="layui-btn layui-btn-xs" lay-event="Unsealing">解封</a>
        </script>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <span id="bottomTip">底部固定区域</span>
    </div>
</div>
<script>

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.confirm('UID：'+ data.uid + '<br>' +
                    '电话号：' + data.telephone + '<br>' +
                    '用户名：' + data.username + '<br>' +
                    '性别：' + data.sex + '<br>' +
                    '签名：' + data.introduce + '<br>' +
                    '状态：' + data.status + '<br>' +
                    '权限：' + data.role + '<br>' +
                    '', function(index){
                    layer.close(index);
                });

            } else if(obj.event === 'del'){ //封号
                if (data.status == "正常"){
                    layer.confirm('真的要把这个人的账号封掉么', function(index){
                        var load = layer.load(1, {
                            shade: [0.1,'#fff'] //0.1透明度的白色背景
                        });
                        $.ajax({
                            type: "post",
                            url: "deleteUser.do",
                            data: {
                                uid : data.uid
                            },
                            success: function (result) {
                                //obj.del();//删除行
                                layer.msg(result);//删除成功！
                            }
                        });
                        layer.close(index);
                        layer.close(load);
                    });
                } else if (data.status == "封号"){
                    layer.msg("这个人已经被封号了，别再封了");
                }else {
                    layer.msg("用户状态异常，请重新查询");
                }
            } else if(obj.event === 'Unsealing'){ //解封
                layer.alert("确定要给他解封吗？");
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
