<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BorrowMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Borrow">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
    <result column="borrow_time" jdbcType="VARCHAR" property="borrowTime" />
    <result column="back_time" jdbcType="VARCHAR" property="backTime" />
  </resultMap>

    <select id="getBorrowList" resultMap="com.example.demo.entity.Borrow" parameterType="int">
        select * from t_borrow where uid = #{uid}
    </select>
</mapper>